####################################################################
#
# List of approvers/reviewers for Canso K8s Data Plane Terraform
#
####################################################################
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# These owners will be the default owners for everything in the repo.
@Yugen-ai/platform-engineering